@media screen and (max-width:1430px) {
  .project9{
    display: initial;
  }
}

@media screen and (max-width: 1400px) {
    .about-container {
      flex-wrap: wrap;
    }
    #contact,
    #projects {
      height: fit-content;
    }
    .service-item h2{
      font-size: 24px;
    }
    .service-item p{
      font-size: 13px;
    }
  }
  
  @media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
    #experience,
    .experience-details {
      margin-top: 2rem;
    }
    #profile,
    .container {
      display: block;
    }
    .arrow{
        display: none;
    }
    section,
    .container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .img, .image, .about-img {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .about-container {
      margin-top: 0;
    }
  }

  @media screen and (max-width: 1050px){
    .row{
      display: block;
    }
    .contact-left{
      display: flex;
      justify-content: center;
    }
    .contact-left .map{
      margin-left: 3rem;
    }
    .service-item h2{
      font-size: 22px;
    }
    .service-item p{
      font-size: 12px;
    }
    .service-item a{
      font-size: 11px;
    }
  }

  @media screen and (max-width: 921px){
    .project9{
      display: none;
    }
    .service-list{
      display: block;
    }
    .service-item{
      margin-bottom: 20px;
    }
  }
  
  @media screen and (max-width: 690px){
    .map{
      display: none;
    }
    .contact-left{
      justify-content: left;
    }
  }

  @media screen and (max-width: 600px) {
    article {
      font-size: 1rem;
    }
    .about-container,
    .btn-container {
      flex-wrap: wrap;
    }
    .experience-sub-title {
      font-size: 1.25rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    .img, .image, .about-img {
      width: auto;
      height: 46vw;
      justify-content: center;
    }
    .p2 {
      font-size: 1.25rem;
    }
    .title {
      font-size: 2rem;
    }
    .text-container {
      text-align: justify;
    }
.contact-right form{
  width: 97%;
}
  }

  @media screen and (max-width: 400px){
    .contact-right form{
      width: 95%;
    }
  }