@import url("https://fonts.googleapis.com/css2?family=Cormorant&family=Kolker+Brush&family=Lato:wght@300;400&family=Manrope&family=Playfair+Display&family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

p {
  color: rgba(90, 90, 90);
}

a,
.btn {
  transition: all 300ms ease;
}

.background{
  background: linear-gradient(rgba(0,0,0.3,0.8), rgba(0,0,0,0.2)), url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
  padding-bottom: 30px;
}

/* index.html- header - nav */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 12vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  color: #b50039;
  text-underline-offset: 0.5rem;
  text-decoration-color: #b50000;
}

.logo {
  font-size: 1.5rem;
  cursor: pointer;
  color: whitesmoke;
}

/* index.html- header - hamburger-nav */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 90%;
  height: 2px;
  background-color: white;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: none;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

/* Sections */

section {
  padding-top: 4vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

/* Profile Section */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.img {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.text {
  align-self: center;
  text-align: center;
}

.text p {
  font-weight: 600;
}

.p1 {
  text-align: center;
  color: #b50039;
}

.p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: rgb(187, 187, 187);
}

.title {
  font-size: 3rem;
  text-align: center;
}

#social {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.icon {
  cursor: pointer;
  height: 2rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  color: white;
}

.btn-color-1,
.btn-color-2,
.btn-color-3 {
  border: #b50039 0.1rem solid;
}

.btn-color-2:hover,
.btn-color-1:hover,
.btn-color-3:hover {
  cursor: pointer;
}

.btn-color-2,
.btn-color-1:hover,
.btn-color-3:hover {
  background: #b50000;
  color: white;
}

.btn-color-2:hover {
  background: #ce2b2b;
}

.btn-color-1, .btn-color-3 {
  background: none;
}

.btn-color-3{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 0.7rem;
    width: 6rem;
    color: black;
}

.btn-color-1:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

/* About Section */

.about-container {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.links{
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: black;
    position: relative;
}

.links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff0000;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.links.active-link::after{
    width: 50%;
}

.contents ul li{
    list-style: none;
    margin: 10px 0;
    font-weight: 500;
}

.contents span{
    color: #b50039;
    font-size: 14px;
    font-weight: 500;
}

.about-p{
    font-size: 14px;
   /* text-align: center; */
}

.small-text{
    font-size: 13px;
}

.contents{
    display: none;
}

.contents.active-tab{
    display: block;
}

/* About Section- Skills */

.experience-sub-title {
  color: #b50039;
  font-weight: 600;
  font-size: 1.35rem;
  margin-bottom: 2rem;
}

.experience-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
  }

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* Services Section */

.service-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.service-item{
  background-color: #eeeeee;
  padding: 40px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.5s, transform 0.5s;
}

.service-item:hover{
  background: #ff004f;
  transform: translateY(-10px);
  color: white;
}

.service-item:hover p, .service-item:hover a{
  color: white;
}

.service-item i{
  margin-bottom: 30px;
  font-size: 50px;
}

.service-item h2{
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 15px;
}

.service-item a{
  color: black;
  font-size: 12px;
  display: inline-block;
  margin-top: 20px;
}

/* Projects Section */

.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img{
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
  display: block;
  cursor: pointer;
  transition: transform 0.5s;
}

.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer p, .layer h3{
  color: white;
}

.layer p{
  font-size: 10px;
}

.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a{
  text-decoration: none;
  margin-top: 20px;
  color: #ff004f;
  font-size: 18px;
  line-height: 60px;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
}

.work:hover img{
  transform: scale(1.1);
}

.work:hover .layer{
  height: 100%;
}

.more{
  display: block;
  margin: 30px auto 10px auto;
  width: fit-content;
  padding: 1px 10px;
  border-radius: 6px;
  text-decoration: none;
  color: black;
}

.project9{
  display: none;
}

/* Contact Section */

.row{
  display: flex;
}

.contact-left{
  flex-basis: 40%;
  padding-top: 10px;
}

.contact-right{
  flex-basis: 60%;
}

.contact-left a{
  color: black;
  font-size: 14px;
}

.contact-left a:hover{
  text-decoration: none;
}

.contact-info{
  cursor: pointer;
}

.contact-info i{
  color: #b50039;
}

.info{
  padding-left: 10px;
}

.info:hover{
  color: #b50000;
}

.map{
  width: 350px;
  height: 200px;
}

.contact-right form{
  width: 100%;
}

input{
  width: 97%;
  padding: 15px;
  margin: 15px 0;
  font-size: 14px;
  border-radius: 6px;
  border: 0;
  outline: none;
  background-color: #eeeeee;
}

textarea {
  width: 97%;
  padding: 15px;
  margin: 15px 0;
  border-radius: 6px;
  font-size: 14px;
  resize: none;
  border: 0;
  outline: none;
  background-color: #eeeeee;
}

/* Footer Section */

#footer {
  position: relative;
}

.arrow {
  rotate: 180deg;
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

